<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="monoandroid11.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="monoandroid11.0" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="monoandroid11.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="monoandroid11.0" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="monoandroid11.0" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="monoandroid11.0" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="monoandroid11.0" />
  <package id="Shiny" version="2.4.2.2996" targetFramework="monoandroid11.0" />
  <package id="Shiny.Core" version="2.4.2.2996" targetFramework="monoandroid11.0" />
  <package id="Shiny.Jobs" version="2.4.2.2996" targetFramework="monoandroid11.0" />
  <package id="System.Buffers" version="4.5.1" targetFramework="monoandroid11.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="monoandroid11.0" />
  <package id="System.Memory" version="4.5.4" targetFramework="monoandroid11.0" />
  <package id="System.Reactive" version="5.0.0" targetFramework="monoandroid11.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="monoandroid11.0" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="monoandroid11.0" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Annotation" version="1.2.0" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Annotation.Experimental" version="1.1.0" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Arch.Core.Common" version="2.1.0.8" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Arch.Core.Runtime" version="2.1.0.8" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Collection" version="1.1.0.7" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Concurrent.Futures" version="1.1.0" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Core" version="1.6.0" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Lifecycle.Common" version="2.3.1" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Lifecycle.LiveData" version="2.2.0.4" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Lifecycle.LiveData.Core" version="2.2.0.4" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Lifecycle.Process" version="2.3.0" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Lifecycle.Runtime" version="2.3.1.1" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Lifecycle.Service" version="2.2.0.4" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Migration" version="1.0.8" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.MultiDex" version="2.0.1.5" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Room.Common" version="2.3.0" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Room.Runtime" version="2.3.0" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Sqlite" version="2.1.0.7" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Sqlite.Framework" version="2.1.0.7" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.VersionedParcelable" version="1.1.1.7" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Work.Runtime" version="2.5.0" targetFramework="monoandroid11.0" />
  <package id="Xamarin.Google.Guava.ListenableFuture" version="1.0.0.2" targetFramework="monoandroid11.0" />
</packages>