[submodule "submodules/shiny"]
	path = submodules/shiny
	url = https://github.com/shinyorg/shiny
[submodule "submodules/apiservices"]
	path = submodules/apiservices
	url = https://github.com/shinyorg/apiservices
[submodule "submodules/framework"]
	path = submodules/framework
	url = https://github.com/shinyorg/framework
[submodule "submodules/configurationextensions"]
	path = submodules/configurationextensions
	url = https://github.com/shinyorg/configurationextensions
